#vite-layout {
	min-height: 100vh;

	.vite-sider {
		overflow: auto;
		height: 100vh;
		position: fixed;
		left: 0
	}

	.vite-main {
		transition: all 0.2s;
		.vite-header {
			background: #fff;
			padding: 0;
			box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
			z-index: 9;
			position: sticky;
			top: 0;
		}
	}

	.logo {
		height: 32px;
		background: rgba(255, 255, 255, 0.3);
		margin: 16px;
	}

	.trigger {
		font-size: 18px;
		line-height: 64px;
		padding: 0 24px;
		cursor: pointer;
		transition: color 0.3s;
		&:hover {
			color: #1890ff;
		}
	}

	.vite-content {
		display: flex;
		flex-direction: column;
		/* margin: 24px 16px; */
		padding: 24px;
		/* background: rgb(255, 255, 255); */
		min-height: 280px;
		overflow-y: auto;
		transition: all 0.2s;
	}
}

.vite-sider {

	&::-webkit-scrollbar {
		/*滚动条整体样式*/
		width: 1px; /*高宽分别对应横竖滚动条的尺寸*/
		height: 1px;
	}

	&::-webkit-scrollbar-thumb {
		/*滚动条里面小方块*/
		border-radius: 10px;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
		/* background: #535353; */
	}

	&::-webkit-scrollbar-track {
		/*滚动条里面轨道*/
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		// background: #ededed;
		background: #001529;
	}
}


.site-layout .site-layout-background {
	background: #fff;
}